/* body {
  background-color: linen;
}
span {
  color: rgb(214, 146, 43);
  background-color: red;
}
.external_change {
  margin-top: 20px;
  color: white;
  background-color: black;
}
table {
  padding: 25px;
}
tbody {
  color: hotpink;
  background-color: darkgrey;
} */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #8feb8c;
}
tr:nth-child(even) {
  background-color: rgb(228, 144, 158);
}
